* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

/* Navbar Styling */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    /* background-color: red; */
}

.navbar__logo {
    width: 190px;
}

.navbar__logo:hover {
    cursor: pointer;
}

.navbar__menu a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: red; */
    border-radius: 30px;
    /* font-size: 17px; */
}

.navbar__menu a:hover {
    cursor: pointer;
    background-color: rgb(240, 235, 235);
}

.navbar__signin {
    display: flex;
    gap: 8px;
    /* background-color: red; */
}

.navbar__signin a {
    color: black;
    text-decoration: none;
}

.navbar__signin__curency {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar__signin__curency p {
    color: rgb(213, 213, 213);
}

.navbar__signin img {
    width: 15px;
    height: fit-content;
}

.navbar__signin div {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: red; */
    border-radius: 30px;
    /* font-size: 17px; */
}

.navbar__signin__curency:hover {
    cursor: pointer;
    background-color: rgb(240, 235, 235);
}

.navbar__signin__button {
    background-color: black;
}

.navbar__signin__button a {
    color: white;
}

.navbar__signin__button:hover {
    opacity: 0.7;
}

/* Search-Menu Styling */

.search {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__title {
    padding: 30px;
    font-size: 30px;
    /* background-color: yellow; */
}

.search__menu {
    padding: 10px;
    display: flex;
    align-items: center;
}

.search__menu__button {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
}

.search__menu__button img {
    width: 28px;
    height: fit-content;
}

.search__menu__button li {
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
}

.search__menu__button li:hover {
    border-bottom: solid black 2px;
    cursor: pointer;
}

.search__box {
    /* background-color: greenyellow; */
    padding: 5px;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 30px;
    margin: 10px;
}

.search__box input {
    padding: 12px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: black;
    width: 550px;
}

.search__box input:focus {
    border: none;
    outline: none;
}

.search__box button {
    padding: 12px;
    font-size: 18px;
    border: 1px solid rgb(33, 167, 33);
    border-radius: 30px;
    background-color: rgb(73, 227, 73);
}


.search__box button:hover {
    background-color: rgb(19, 219, 19);
    cursor: pointer;
}

/* Categories Styling */

.categories {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.categories__title,
.categories p {
    margin-bottom: 20px;
}

.categories__title {
    font-size: 20px;
}

.categories__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.categories__container__box {
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.categories__container__box:hover {
    opacity: 0.8;
}

.categories__container__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.categories__container__box h2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
}

/* Explorer Styling */

.explorer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.explorer__title {
    font-size: 20px;
}

.explorer__title,
.description {
    margin-bottom: 20px;
}

.explorer__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.explorer__card__box {
    width: 250px;
    /* height: 250px; */
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.explorer__card__box img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.explorer__card__box img:hover {
    opacity: 0.8;
}

.explorer__card__box h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.explorer__card__box p {
    font-size: 13px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

.explorer__card__box h4 {
    font-size: 14px;
}

.heart {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px; 
}

.heart:hover {
    opacity: 0.8;
}

.explorer__card__box h5 {
    background-color: rgb(230, 226, 226);
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: 200;
}

/* Footer Styling */

.footer {
    background-color: rgb(231, 231, 231);
    padding: 20px;
}

.footer__section1 {
    display: flex;
    justify-content: space-around;
}

.footer__section__A p {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 2px;
    border: 1px solid transparent;
}

.footer__section__B {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 30px;
}

.footer__section__B img {
    width: 100px;
}

.footer__section__C {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer__section__C img {
    width: 20px;
}